<div>
  <h2>Your Orders</h2>
  <div *ngIf="orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="order">
      <p>Order ID: {{ order.orderId }}</p>
      <p>Order Reference: {{ order.reference }}</p>
      <p>Total Amount: ${{ order.totalAmount }}</p>
      <div *ngFor="let product of order.orderLineResponse">
        <p>Product ID: {{ product.productId }}</p>
        <p>Product Name: {{ product.productName }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Price: ${{ product.buyNowPrice }}</p>
        <p>Quantity: {{ product.quantity }}</p>
      </div>
    </div>
  </div>
  <ng-template #noOrders>
    <p>You have no orders.</p>
  </ng-template>
</div>
<!--
<div>
  <h2>Your Orders</h2>
  <div *ngIf="orders.length > 0; else noOrders">
    <div *ngFor="let order of orders" class="order">
      <p>Order ID: {{ order.orderId }}</p>
      <p>Total Amount: ${{ order.totalAmount }}</p>
      <div *ngFor="let product of order.products">
     <p>Product ID: {{ product.productId }} - Quantity: {{ product.quantity }}</p>
      </div>
    </div>
  </div>
  <ng-template #noOrders>
    <p>You have no orders.</p>
  </ng-template>
</div>
-->
