<div class="container" data-cy="container">
  <div *ngIf="isLoading">
    <div>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row" data-cy="products-row">
    <div class="col-md-4" *ngFor="let product of products" data-cy="product-card">
      <div class="card mb-4" data-cy="product-card-inner">
        <div class="card-body" data-cy="product-card-body">
          <h5 class="card-title" data-cy="product-name">{{ product.productName }}</h5>
          <p class="card-text" data-cy="product-description">{{ product.description }}</p>
          <div class="col-4">
            <img class="img-fluid" style="height: 30px;border-radius: 50%;" [src]="product.productImageUrl" class="card-img-top" alt="product">
          </div>
          <p class="card-text" data-cy="product-price"><strong>Price: ${{ product.buyNowPrice }}</strong></p>

          <div data-cy="bid-button-container">
            <!-- Buy Now and Submit Bid Buttons -->
            <div *ngIf="product.isAvailableForBuyNow" data-cy="buy-now-container">
              <button
                class="btn btn-sm btn-success"
                (click)="buyNow(product.productId!, 1)"
                data-cy="buy-now-button"
              >
                Buy It Now
              </button>
              <button
                class="btn btn-sm btn-success"
                (click)="submitBid(product)"
                data-cy="submit-bid-button"
              >
                Submit Bid
              </button>
            </div>

            <!-- Add to Cart Button -->
            <div *ngIf="!product.isAvailableForBuyNow" data-cy="add-to-cart-container">
              <button
                class="btn btn-primary"
                (click)="product.productId ? addToCart(product.productId, 1) : handleUndefinedProductId()"
                data-cy="add-to-cart-button"
              >
                Add to Cart
              </button>
            </div>

          </div>

          <div>
            <p class="seller" data-cy="seller">{{ product.username }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div class="container" data-cy="container">
  <div *ngIf="isLoading">
    <div>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row" data-cy="products-row">
    <div class="col-md-4" *ngFor="let product of products" data-cy="product-card">
      <div class="card mb-4" data-cy="product-card-inner">
        <div class="card-body" data-cy="product-card-body">
          <h5 class="card-title" data-cy="product-name">{{ product.productName }}</h5>
          <p class="card-text" data-cy="product-description">{{ product.description }}</p>
          <p class="card-text" data-cy="product-price"><strong>Price: ${{ product.buyNowPrice }}</strong></p>

          <div data-cy="bid-button-container">
            <div *ngIf="product.isAvailableForBuyNow" data-cy="buy-now-container">
              <button
                class="btn btn-link"
                (click)="buyNow(product.productId, 1)"
                data-cy="buy-now-button"
              >
                Buy It Now
              </button>
              <button
                class="btn btn-link"
                (click)="submitBid(product)"
                data-cy="submit-bid-button"
              >
                Submit Bid
              </button>
            </div>

            <div *ngIf="!product.isAvailableForBuyNow" data-cy="add-to-cart-container">
              <button
                class="btn btn-primary"
                (click)="addToCart(product.productId?, 1)"
                data-cy="add-to-cart-button"
              >
                Add to Cart
              </button>
            </div>
          </div>

          <div>
            <p class="seller" data-cy="seller">{{product.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


-->

<!--<div class="container" data-cy="container">
  <div *ngIf="isLoading">
    <div>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>  -->
  <!--
  <div *ngElse> -->
<!--
  <nav class="navbar navbar-expand-lg navbar-light bg-light" data-cy="navbar">
    <a class="navbar-brand" href="#" data-cy="navbar-brand">Auction Site</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" data-cy="navbar-nav">
        <li class="nav-item" data-cy="nav-item-login">
          <button class="btn btn-link" (click)="login()" data-cy="login-button">Login</button>
        </li>
        <li class="nav-item" data-cy="nav-item-logout">
          <button class="btn btn-link" (click)="logout()" data-cy="logout-button">Logout</button>
        </li>
        <li class="nav-item" data-cy="nav-item-register">
          <button class="btn btn-link" (click)="register()" data-cy="register-button">Register</button>
        </li>
      </ul>
    </div>
  </nav>
-->
  <!--<h1 data-cy="auction-products-title">Auction Products</h1> -->
<!--
  <div class="row" data-cy="products-row">
    <div class="col-md-4" *ngFor="let product of products" data-cy="product-card">
      <div class="card mb-4" data-cy="product-card-inner">
        <div class="card-body" data-cy="product-card-body">
          <h5 class="card-title" data-cy="product-name">{{ product.productName }}</h5>
          <p class="card-text" data-cy="product-description">{{ product.description }}</p>
          <p class="card-text" data-cy="product-price"><strong>Price: ${{ product.buyNowPrice }}</strong></p>

          <div data-cy="bid-button-container">
            <div *ngIf="product.isAvailableForBuyNow" data-cy="buy-now-container">
              <button
                class="btn btn-link"
                (click)="buyNow(product.productId)"
                data-cy="buy-now-button"
              >
                Buy It Now
              </button>
              <button
                class="btn btn-link"
                (click)="submitBid(product)"
                data-cy="submit-bid-button"
              >
                Submit Bid
              </button>
            </div>
          </div>

          <div>
            <p class="seller" data-cy="seller">{{product.username}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

-->

<!--
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Auction Site</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-link" (click)="login()">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" (click)="register()">Register</button>
        </li>
      </ul>
    </div>
  </nav>

  <h1>Auction Products</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price: ${{ product.buyNowPrice }}</strong></p>

          <div>
            <button class="btn btn-primary" (click)="submitBid(product)">Submit a Bid</button>
          </div>
          <div *ngIf="product.isAvailableForBuyNow">
           <button class="btn btn-link" (click)="buyNow(product)">Buy It Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!--

<div class="container">
  <h1>Auction Products</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Price: ${{ product.buyNowPrice}}</strong></p>

          <div>
            <button class="btn btn-primary" (click)="submitBid(product)">Submit a Bid</button>
          </div>
          <div *ngIf="product.isAvailableForBuyNow">
            <button class="btn btn-success" (click)="buyNow(product)">Buy It Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<h1>Product List</h1>




<div *ngIf="isLoading">Loading products...</div>


<div *ngIf="errorMessage">{{ errorMessage }}</div>


<ul *ngIf="!isLoading && products.length > 0">
  <li *ngFor="let product of products">
    <h2>{{ product.productName }}</h2>
    <p>Brand: {{ product.brandName }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: ${{ product.buyNowPrice }}</p>
  </li>
</ul>


<div *ngIf="!isLoading && products.length === 0">No products available.</div>

-->
