<<h2>Edit Your Profile</h2>
<div *ngIf="userProfile">
<form (ngSubmit)="saveProfile()">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="userProfile!.preferred_username" name="username" class="form-control" disabled>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" [(ngModel)]="userProfile!.given_name" name="firstName" class="form-control">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" [(ngModel)]="userProfile!.family_name" name="lastName" class="form-control">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="userProfile!.email" name="email" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Save Changes</button>
  <button type="button" (click)="onCancel()">Cancel</button>
</form>
</div>
